.call-to-action-50 {
	background: url(http://lorempixel.com/1920/1080/sports/) center top no-repeat;
	background-size: cover;
	padding: 140px 0;
	.video-wrapper {
		max-width: 600px;
		margin: 20px auto 0 auto;
	}
}